#books .container-fluid{
	margin-top: 130px;
	margin-bottom: 40px;
}
#books .col-md-3 a img{
	max-width: 100%;
	height: auto;
}
#books .col-md-3 .img-book{
	width: 240px;
	height: 360px;
	margin-bottom: 20px;
}
#books .search-book{
	margin-left: 126px;
	margin-bottom: 50px;
	margin-top: 50px;
}
#books .col-md-3 a{
	text-decoration: none;
	color: #039be5;
	font-family: sans-serif;
	font-weight: bold;
	transition: all .2s ease 0s;
	font-size: 17px;
}
#books .col-md-3 a:hover{
	color: #026899;
}
#books .col-md-3 p{
	color: #96a1a3;
    font-size: 14px;
    white-space: nowrap;
    line-height: 14px;
}