#contact .container-fluid{
	margin-top: 120px;
}
#contact .col-md-12 .col-md-5 .panel-info{
	height: 242px;
	font-family:  "Helvetica Neue",Roboto,Helvetica,Arial,sans-serif;
}
#contact .col-md-7  button.btn-primary{
	margin-left: 16px;
	border-radius: 0;
}
#contact .col-md-7 .form-control{
	border-radius: 0;
}
