#header-nav{
	background:#039be5;
	height: 50px;
}
#header-nav .contact p{
	padding: 10px;
}
#header-nav .contact p a{
	color: #fff;
	text-decoration: none;
	padding-left: 20px;
}
#header-nav .links{
	padding:10px;
}
#header-nav .links a{
	padding: 10px;
}
#header-nav .links a.facebook{
	color: #fff;
	font-size: 20px;
}
#header-nav .links a.facebook:hover{
	color: #3b5998;
}
#header-nav .links a.twitter{
	color: #fff;
	font-size: 20px;
}
#header-nav .links a.twitter:hover{
	color: #3a92c8;
}
#header-nav .links a.google{
	color: #fff;
	font-size: 20px;
}
#header-nav .links a.google:hover{
	color: #dd4b39;
}
#header-nav .links a.linkedin{
	color: #fff;
	font-size: 20px;
}
#header-nav .links a.linkedin:hover{
	color: #287bbc;
}
#menu ul li {
	border: 1px solid #eeeeee;
	border-top: none;
	border-bottom: none;
}
#menu .navbar-default .navbar-nav>li>a{
	color: #505656;
    padding: 14px 13px;
    text-transform: uppercase;
}
#menu{
	position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
    background: #fff;
    height: 101px;
}
#menu .dropdown-menu li a{
	padding: 15px;
}
#menu .logo{
	width: 300px;
}
#menu ul li:nth-child(n){
	border-left: none;
}
#menu ul li a{
	font-size: 15px;
	font-family:"Helvetica Neue",Roboto,Helvetica,Arial,sans-serif;;
	font-weight: bold;
	
}
#menu ul li a:hover{
	color: #505656;
    background-color: #eeeeee;
}

#menu .navbar-default{
	border-radius: 0;
	background: none;
}
#menu .navbar-default .navbar-collapse, .navbar-default .navbar-form{
	padding: 0;
}
#slider .slide .cttd{
	margin-top: 0;
	margin-bottom: 20px;
	letter-spacing: 1px;
	line-height: 1.275;
	color: #ffffff;
	font-weight: 700;
	font-size: 40px;
	text-align: left;
	margin-left: -50px;
}
#slider .slide .ptt{
	color: #fff;
	font-family:"Helvetica Neue",Roboto,Helvetica,Arial,sans-serif;
	font-size: 23px;
	text-align: left;
	margin-left: -50px;
}
#slider .btn-primary:hover {
	color: #337ab7;
	background-color: #fff;
	border-color: #337ab7;
}
#introduce .subject{
	background: #eeeeee;
	margin-bottom: 20px;
}
#introduce .subject h1{
		color: #000;
		font-size: 45px;
		font-weight: bold;
		font-family: "Helvetica Neue",Roboto,Helvetica,Arial,sans-serif;
		margin-top: 80px;
}
#introduce .subject p{
	color:#707070;
	font-family: "Helvetica Neue",Roboto,Helvetica,Arial,sans-serif;
	font-size: 20px;
}
#introduce .subject .col-md-6{
	margin-bottom: 40px;
}
#introduce .subject .col-md-6 p{
	font-size: 19px;
	font-family: "Helvetica Neue",Roboto,Helvetica,Arial,sans-serif;
	line-height: 28px;
}
#introduce .subject .col-md-6 i{
	font-size: 50px;
	margin-bottom: 20px;
	color: blue;
}
#introduce .subject .col-md-6 h3{
	margin-left: 74px;
    margin-top: -58px;
    font-weight: bold;
} 
#lanhdao .col-md-12 {
	background: #fff;
}
#lanhdao .col-md-12 h1{
	font-weight: bold;
	font-family: "Helvetica Neue",Roboto,Helvetica,Arial,sans-serif;
	font-size: 50px;
	padding: 50px;
}
#lanhdao .intro-img{
	position: relative;
    overflow: hidden;
}
#lanhdao .intro-img img{
	height: auto;
    width: 100%;
}
#lanhdao .intro-img:hover p{
display: block;
}
#lanhdao .name-gv1{
	background: #215ba6;
    padding: 15px;
    color: #fff;
	border-right: 1px solid #8888;
}
#lanhdao .name-gv1 a{
	color: #fff;
	text-decoration: none;
}
#lanhdao .name-gv2{
	background: #f27c38;
    padding: 15px;
    color: #fff;
}
#lanhdao .name-gv2 a{
	color: #fff;
	text-decoration: none;
}
#lanhdao .info-leader{
	padding: 0;
}




#teachers .col-md-12{
	background: #efefef;
	margin-top: -20px;
	padding: 50px;
}
#teachers .col-md-12 h1{
	font-weight: bold;
	font-size: 40px;
	font-family: "Helvetica Neue",Roboto,Helvetica,Arial,sans-serif;
	padding: 20px;
}
#teachers .col-md-12 p{
	font-size: 16px;
	font-family:  "Helvetica Neue",Roboto,Helvetica,Arial,sans-serif;
	color: #707070;
}

#teachers .slider {
	width: 100%;
	margin: 20px auto;
	text-align: center;
	padding: 20px;
	color: white;
  .parent-slide{padding:15px;}
  img{display: block;margin:auto;}
}
#teachers .slider h1{
	color: #000;
	font-family:  "Helvetica Neue",Roboto,Helvetica,Arial,sans-serif;
	font-size: 22px;
}
#teachers .slider a{
	text-decoration: none;
}
#teachers .slider a:active{
	border: none;
}
#teachers .slider img{
	width: 228px
}
#teachers .slider p{
	color: #707070;
}
#teachers  .slick-initialized .slick-slide{
	width: 250px !important;
	padding: 10px;
	border: 2px solid #dc4040;
	margin-left: 10px;
	box-shadow:  1px 1px 2px 2px #efefef;
	background: #fff;
	height:450px;
	border-radius: 15px;
}
#teachers .slick-arrow{
	display: none !important;
}
#teachers{
	background: #efefef;

}
#teachers .col-md-12 h1{
	font-weight: bold;
	font-size: 40px;
	font-family:  "Helvetica Neue",Roboto,Helvetica,Arial,sans-serif;
	padding: 20px;
}
#teachers .col-md-12 p{
	font-size: 16px;
	font-family:  "Helvetica Neue",Roboto,Helvetica,Arial,sans-serif;
	color: #707070;
}

#teachers .slider{
  width:100%;
  margin:20px auto;
  text-align: center;
  padding:20px;
  color:white;
  .parent-slide{padding:15px;}
  img{display: block;margin:auto;}
}

#students .col-md-12{
	padding: 50px;
}
#students .col-md-12 h1{
	font-weight: bold;
	font-size: 40px;
	font-family:  "Helvetica Neue",Roboto,Helvetica,Arial,sans-serif;
	padding: 20px;
}
#students .slider2 h1{
	color: #000;
	font-family:  "Helvetica Neue",Roboto,Helvetica,Arial,sans-serif;
	font-size: 23px;
}
#students .slider2 img{
	width: 228px;
	height: 226px;
}
#students .slider2 p{
	color: #707070;
}
#students  .slick-initialized .slick-slide{
	width: 250px !important;
	padding: 10px;
	border: 2px solid #40d0dc;
	margin-left: 10px;
	box-shadow:  1px 1px 2px 2px #efefef;
	background: #fff;
	height:450px;
	border-radius: 15px;

}
#students .slick-arrow{
	display: none !important;
}
#students {
	background: #efefef;
	margin-top: -20px;
}
#img-student .col-md-12{
	padding: 50px;
}
#img-student .col-md-12 h1{
	font-weight: bold;
	font-size: 40px;
	font-family:  "Helvetica Neue",Roboto,Helvetica,Arial,sans-serif;
	padding: 20px;
}
#img-student .col-md-12 p{
	font-size: 16px;
	font-family:  "Helvetica Neue",Roboto,Helvetica,Arial,sans-serif;
	color: #707070;
}

#img-student .slider3 img{
	width: 260px;
	height: 180px;

}
#img-student  .slick-initialized .slick-slide{
	width: 250px !important;
	border: 3px solid #8f42cc;
	margin-left: 10px;
	box-shadow:  1px 1px 2px 2px #efefef;
	background: #fff;


}
#img-student .slick-arrow{
	display: none !important;
}
#img-student {
	background: #efefef;
	margin-top: -20px;
}
.slick-dots li button{
	display: none;
}
.slick-dots{
	margin-left: 500px;
}
.slick-dots li {
	float: left;
	font-size: 40px;
	text-align: center;
	padding: 20px;
	color: #8f42cc;
	opacity: 0.7;
	margin-top: -35px;
}

#qty-student .col-md-12{
	background: #000;
	color: #fff;
	padding: 44px;
}
#qty-student .col-md-12 h1{
	font-size: 20px;
}
#qty-student .quantity {
	width: 160px;
	float: left;
	margin-left: 65px;
	margin-top: 40px;

}
#qty-student .quantity .col-md-3{
	border-radius: 50%;
    border: 4px solid #e67e22 ;
    height: 161px;
    width: 160px;
    padding: 54px;
    font-size: 36px;
    font-family:  "Helvetica Neue",Roboto,Helvetica,Arial,sans-serif;
    font-weight: bold;

}
#qty-student .quantity  p{
	font-family:  "Helvetica Neue",Roboto,Helvetica,Arial,sans-serif;
	font-weight: bold;
}


#qty-student .quantity2 {
	width: 160px;
	float: left;
	margin-left: 87px;
	margin-top: 40px;
	
}
#qty-student .quantity2 .col-md-3{
	border-radius: 50%;
    border: 4px solid #e67e22; 
    height: 161px;
    width: 160px;
    padding: 54px;
    font-size: 36px;
    font-family: sans-serif;
    font-weight: bold;

}
#qty-student .quantity2  p{
	font-family:  "Helvetica Neue",Roboto,Helvetica,Arial,sans-serif;
	font-weight: bold;
}

#qty-student .quantity4 {
	width: 160px;
	float: left;
	margin-left: 87px;
	margin-top: 40px;
	
}
#qty-student .quantity4 .col-md-3{
	border-radius: 50%;
    border: 4px solid #d9534f;
    height: 161px;
    width: 160px;
    padding: 54px;
    font-size: 36px;
    font-family: sans-serif;
    font-weight: bold;

}
#qty-student .quantity4  p{
	font-family:  "Helvetica Neue",Roboto,Helvetica,Arial,sans-serif;
	font-weight: bold;
}
.link{
	padding: 63px;
}
.link a img{
		width: 100%;

}
.footer-link .link-left{
    padding: 40px;
    line-height: 50px;
}
.link-in .fa{
	background: #707070;
    border-bottom: 0 none;
    border-radius: 50%;
    color: #fff;
    font-size: 22px;
    height: 42px;
    line-height: 42px;
    margin: 0 5px 0 0;
    text-align: center;
    width: 42px;

}
.link-in  .fa-facebook:hover{
	background: #3b5998;
	color:#fff;
}
.link-in  .fa-twitter:hover{
	background: #3a92c8;
	color:#fff;
}
.link-in  .fa-google-plus:hover{
	background:#dd4b39;
	color:#fff;
}
.link-in  .fa-pinterest:hover{
	background:#cb2027;
	color:#fff;
}
.link-in  .fa-linkedin:hover{
	background:#287bbc;
	color:#fff;
}
.footer-link{
	background: #f4f6f7;
	color: #505656;
}
.footer-link .link-right .register{
	padding: 83px;
}
.footer-link .link-right .register .box{
	padding: 20px;
	background: rgba(0, 0, 0, 0.05);
}
.footer-link .link-right .register .box form .form-control{
	width: 257px;
    border-radius: 0;
    height: 42px;
    margin-top: -2px;
}
.footer-link .link-right .register .box form button{
	padding: 11px;
    margin-left: -4px;
    margin-top: -8px;
    background: #0279b3;
    border: none;
    color: #fff;
    font-weight: bold;
}
.footer-link .link-right .register .box form button:hover{
	background: #0272a9;
}
#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: #039be5;
	color: white;
	cursor: pointer;
	padding: 10px;
	border-radius: 4px;
}
#myBtn:hover{
	background-color: #e67e22;
	color:#fff ;
}
