#lectures .container-fluid{
	margin-bottom: 50px;
	margin-top: 130px;
}
#lectures .title {
	border-bottom: 1px solid #efefef;
	margin-bottom: 50px;
}

#lectures .title h1{
		font-family: "Helvetica Neue",Roboto,Helvetica,Arial,sans-serif;
		font-weight: bold;
		color: #888;
		margin-bottom: 30px;
}	
#lectures .social-links{
	list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
#lectures .social-links li{
	display: inline-block;
    margin: 0 2px;
}
#lectures .social-links li a{
	background: #ecf0f1;
    border-radius: 16px;
    color: #505656;
    display: block;
    height: 32px;
    line-height: 32px;
    text-align: center;
    width: 32px;
}
#lectures .social-links li a:hover{
	background: #039be5;
    color: #ffffff;
}
#lectures .col-md-3{
	margin-bottom: 30px;
}
#lectures .col-md-3 p{
	text-align: center;
}
#lectures .img-circle{
    height:231px;
}
#lectures .img-circle  img{
	border-radius: 50%;
	width:90%;
	margin-bottom: 10px;
    margin-left: 20px;
}
#lectures .col-md-3 a{
	color: #039be5;
    text-decoration: none;
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    font-size: 20px;
    font-family: "Helvetica Neue",Roboto,Helvetica,Arial,sans-serif;
}
#lectures .col-md-3 a:hover{
	color: #026899;
    text-decoration: none;
    outline: none;
}
#lectures .col-md-4{
    margin-bottom: 30px;
}
#lectures .col-md-4 p{
    text-align: center;
}
#lectures .img-circle{
    height:231px;
}
#lectures .img-circle  img{
    border-radius: 50%;
    width:90%;
    margin-bottom: 10px;
    margin-left: 20px;
}
#lectures .col-md-4 a{
    color: #039be5;
    text-decoration: none;
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    font-size: 20px;
    font-family: "Helvetica Neue",Roboto,Helvetica,Arial,sans-serif;
}
#lectures .col-md-4 a:hover{
    color: #026899;
    text-decoration: none;
    outline: none;
}
#lectures .col-md-4 .img-circle img{
    border-radius: 50%;
    width: 68%;
    margin-bottom: 10px;
    margin-left: 61px;
}

