#news{
	margin-top: 150px;
	margin-bottom: 50px;
}
#news .col-md-12 .col-md-4 img{
	width: 100%
}
#news .col-md-12 .col-md-4{
	margin-top: 10px;
}
#news .col-md-12 .col-md-8 a h1{
	color: #27292e;
    font-weight: 700;
   font-size: 32px;
    margin: 0 0 26px 0;
    text-decoration: none;  
    margin-top: 10px;
 
}
#news .col-md-12 .col-md-8 a{
	text-decoration: none;  
}
#news .col-md-12 .col-md-8 a h1:hover{
	color: #039be5;
}
#news .col-md-12 .col-md-8 h5{
    color: #96a1a3;
   font-size: 16px;
}
#news .col-md-12 .col-md-8 p{
	margin: 0 0 13px;
	 color: #707070;
	 line-height: 25px;
	 font-size: 17px;
}
#news_detail{
	margin-top: 150px;
	margin-bottom: 50px;
}
#news_detail .col-md-8 h1{
	margin: 0 0 26px 0;
	font-size: 40px;
}
#news_detail .col-md-8 h5{
	margin: 0 0 13px;
	color: #707070;
	line-height: 25px;
	font-size: 17px;
}
#news_detail .col-md-8 img{
	margin-top: 30px;
	width: 100%;
}
#news_detail .col-md-8 .text_news{
	font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
	font-size: 19px;
	color: #707070;
	margin-top: 20px;
}
#news_detail .link_news{
	border-top: 3px solid #dadedf;
	background: #efefef;
	padding: 28px;
	margin-left: 30px;
}
#news_detail .link_news p{
	color: #96a1a3;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 1px;
}
#news_detail .link_news a{
	text-decoration: none;
	color: #96a1a3;
	font-size: 17px;
	font-weight: 300;
	letter-spacing: 1px;
}
#news_detail .link_news a:hover{
	color: #00acd6;
}

#news_detail .link_news .news_title{
	border-bottom: 1px solid #dadedf;
}


