#search{
	margin-top: 120px;
}
#list-project .col-md-12{
	margin-top: 30px;
	margin-bottom: 50px;
}
#list-project .col-md-12 table{
	background: none;
	border: 0.5px solid #77b315 none repeat scroll 0 0;
}
#list-project .col-md-12 table thead tr{
	background: #77b315 none repeat scroll 0 0;
	color: #fff;
	height: 60px;
}
#search .col-md-12 .panel-heading h3{
	font-family:  "Helvetica Neue",Roboto,Helvetica,Arial,sans-serif;
	font-weight: bold;
	font-size: 30px;

}
