#detai .col-md-12{
    margin-top: 100px;
    margin-bottom: 50px;
}
#detai .col-md-4{
    border-bottom: 2px solid #9e0505;
    margin-bottom: 20px;
    padding: 0px;
    width: 302px;
}
#detai .col-md-4 p{
    font-size: 24px;
    margin-top: 35px;
    font-weight: bold;
}
#detai .col-md-12 table{
    background: none;
    border: 0.5px solid #77b315 none repeat scroll 0 0;
}
#detai .col-md-12 table thead tr{
    background: #77b315 none repeat scroll 0 0;
    color: #fff;
    height: 60px;
}
#detai .col-md-12 table tbody tr td{
    color: #000000;
    font-size: 17px;
}
#detai .col-md-12 table tbody tr td a{
    text-decoration: none;
    color: #000000;
    font-size: 17px;
}
#detai .col-md-12 table tbody tr td a:hover{
    color: #00A6C7;
}
