body{
	background: url("../images/b2.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	color: #FFF;
	font-family: 'Quicksand', sans-serif;
	text-align: center;
}
.form_register label{
	float: left
}
.title h1{
	padding: 50px;
}
.form_register form input{
	height: 40px;
    border-radius: 0;
    border: 1px solid #777;
    background: #fff;
}
.form-control:focus{
 border-color: 1px solid #2d053e;
}
.form_register form select{
	height: 40px;
    border-radius: 0;
    border: 1px solid #777;
}


.Register{
	padding: 16px 41px;
    margin-bottom: 20px;
    margin-left: 258px;
    border-radius: 0;
    background: #6d8484;
   	border: 2px solid #fff;
}
.Register:hover{
	background: none;
	border: 2px solid #fff;
	color: #fff;

}
.text-danger{
	color: red;
	text-align: left;
}

