#lecturers table tr th{
	width: 150px;
}

.lecturers-website{
    border: 1px solid #77b315;
    border-radius: 20px;
    color: #77b315;
    font-size: 17px;
    padding: 7px;
    margin-top: 15px;
}
