
#users .add-user img{
	width: 150px;
	height: 150px;
}

#users .user-action{
	margin-left: 20px;
}
#users .table{
	width: 95%;
}

.add{
   margin-top: 60px;
}
#users div.dataTables_wrapper div.dataTables_filter{
	text-align: left;
    margin-left: -575px;
}
#users div.dataTables_wrapper div.dataTables_paginate{
	margin: 0;
    white-space: nowrap;
    text-align: right;
    margin-right: 64px;
}



/*************** css import excel ***************/

.modal-title{
	margin: 0;
    line-height: 1.42857143;
    font-size: 24px;
    font-weight: 400;
    color: #6C7177;
}
.modal-body {
    position: relative;
    padding: 15px;
}
.card {
    margin-bottom: 24px;
    position: relative;
    border-radius: 3px;
    background-color: #fff;
    color: #4F5256;
    border: 1px solid rgba(0, 0, 0, 0.12);
    margin-bottom: 8px;
}

.card .card-body {
    position: relative;
    padding: 16px;
}
.tab-content {
    padding: 10px 20px;
}
.mb {
    margin-bottom: 16px !important;
}
.mda-form-group {
    position: relative;
    padding: 0 0 24px 0;
}
.mda-form-control {
    position: relative;
    padding-top: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.14);
}
.mda-form-control > input {
    padding: 2px;
    height: 34px;
    background-color: transparent !important;
    border: 0;
    border-radius: 0;
    box-shadow: none;
}
input[type=file] {
    display: block;
}
.mda-form-control-line {
    position: absolute;
    bottom: -1px;
    left: 50%;
    right: 50%;
    height: 2px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.mda-form-control > input ~ label {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    display: inline-block;
    font-size: .85em;
    opacity: .5;
    font-weight: 500;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}


/*detail user*/

#users .avatar{
    min-height: 310px;
    text-align: center
}
#users .card{
    position: relative;
    border-radius: 3px;
    background-color: #fff;
    color: #4F5256;
    border: 1px solid rgba(0, 0, 0, 0.12);
}
#users .avatar img{
    border-radius: 100%;
    width: 130px;
    height: 150px;
    margin-top: 15px;
    margin-bottom: 10px
}
#users .avatar .users-detail{
    border-bottom: 1px dashed #cccccc;
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    padding-bottom: 10px;
    text-transform: uppercase;
    width: 100%;
}
#users .card .card-body{
    position: relative;
    padding: 16px;
}
#users .card .card-body .main_title {
    float: left;
    width: 100%;
}
#users .card .card-body .title-03 {
    font-family: pro-bold;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
}

#users .card .main-item .table-detail-01{
    width: 100%;
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
}
.table-detail-01 tr th:first-child {
    color: #868895;
    padding: 20px;
    width: 35%;
}
.table-detail-01 tr {
    border-bottom: 1px dashed #cccccc;
    padding: 10px;
}
.table-detail-01 tr td:nth-child(2) {
    font-family: pro-bold;
    font-weight: 700;
}